In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
source = requests.get("https://webscraper.io/test-sites/e-commerce/allinone-popup-links").text

In [3]:
soup = BeautifulSoup(source, 'lxml')

In [4]:
r1, r2 = [], []
for div in soup.find_all('div', class_ = 'caption'):
    price = div.h4.text
    product = div.a.text
    description = div.p.text
    r1.append([price, product, description])
    
for r in soup.find_all('div', class_ = 'ratings'):
    review = r.p.text[:1]
    rating = str(r.contents[3])[16:17]
    r2.append([int(review), int(rating)])

for i in range(len(r1)):
    r1[i].append(r2[i][0])
    r1[i].append(r2[i][1])

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(r1, columns = ['price', 'product', 'description', 'reviews', 'rating'])
df

,price,product,description,reviews,rating
0,$603.99,Apple iPad Air,"Wi-Fi, 64GB, Silver",7,3
1,$1101.83,Asus ROG Strix G...,"Apple MacBook Air 13.3"", Core i5 1.8GHz, 8GB, ...",4,2
2,$739.99,ProBook,"14"", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit",8,4

In [7]:
df.to_csv('test1.csv', index = False)